<div id="bingo-board">
  <app-bingo-header [gameIsRunning]="gameIsRunning$ | async" [boardsExist]="(boards$ | async)?.length"
    (startGameClick)="onStartGameClick()" (addBoardClick)="onAddBoardClick()">
  </app-bingo-header>

  <ng-container *ngIf="(gameIsRunning$ | async) || (drawnNumbers$ | async)?.length">
    <app-bingo-drawn-numbers [drawnNumbers]="drawnNumbers$ | async"></app-bingo-drawn-numbers>
  </ng-container>

  <div class="content">
    <app-bingo-boards-list class="boards-list" [boards]="boards$ | async" [drawnNumbers]="drawnNumbers$ | async" (bingo)="onBingo($event)">
    </app-bingo-boards-list>
  </div>
</div>
