<div id="bingo-board">

  <div class="header">
    <img class="bingo-logo-small" src="assets/bingo-logo-small.png" alt="Bingo logo">
    <div *ngIf="!(gameIsRunning$ | async)">
      <button class="start-game-btn" mat-raised-button (click)="onStartGameClick()"
        *ngIf="(boards$ | async)?.length">Start game</button>
      <button mat-raised-button color="accent" (click)="onAddBoardClick()">Add board</button>
    </div>
  </div>

  <div class="drawn-numbers" *ngIf="(gameIsRunning$ | async) || (drawnNumbers$ | async)?.length" @fade>
    <div class="drawn-number" *ngFor="let num of drawnNumbers$ | async" @scale>{{num}}</div>
  </div>

  <div class="content">
    <ng-container *ngIf="boards$ | async as boards">
      <ng-container *ngIf="boards.length; else emptyState">
        <div class="bingo-board-container" *ngFor="let board of boards">
          <app-bingo-board [board]="board" [drawnNumbers]="drawnNumbers$ | async"
            [bingo]="isBingo(board, (drawnNumbers$ | async))"></app-bingo-board>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #emptyState>
  <div class="empty-state">
    <img class="bingo-logo" src="assets/bingo-logo.png" alt="Bingo logo">
    Welcome to the Bingo Game!<br />
    To start the game, add some player boards.<br />
    Then, press the "Start Game" button.<br />
    Good Luck!
  </div>
</ng-template>
